{% extends 'base.html.twig' %}

{% block title %}Home | Gazouillis{% endblock %}

{% block body %}
	<div class="d-flex justify-content-center">
		<div class="d-flex flex-column w-25">
			<h1>Home.</h1>
			<div class="post-form my-4">
				{{include('post/new.html.twig')}}

			</div>
			<br>
			<div class="thread">

				{% for post in posts %}
					<div class="row">
					<p class="col-6">{{post.author.username}}</p>
					<p class="col-6">{{post.createdAt|date}}</p>
					</div>
					
					<p>{{ post.content }}</p>
					<p>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</p>
				{% else %}
					
						<p>Aucun Gazouilli de trouvé 😢</p>
				{% endfor %}

			</div>
		</div>
	</div>


{% endblock %}
